<h2>Settings AWV-OT</h2>
<div class="form-group">
	<table class="formtable" border="0" width="700">
		<tr>
			<td width="200" valign=top>
				<b><TMPL_VAR BASIC.AWV-OT_GET></b>
			</td>
			<td colspan=2>
				<font size="-1"><b><TMPL_VAR BASIC.AWV-OT_HGET></b></font><br/>
				<font size="-1"><a href="<TMPL_VAR NAME=WEBSITE_GET>" target=_blank"><TMPL_VAR NAME=WEBSITE_GET></a></font><br/><br/>
				<font size="-1"><TMPL_VAR BASIC.AWV-OT_IGET></font>
			</td>
		</tr>
	</table>
	<br/><hr><br/>
	<table class="formtable" border="0" width="700">
		<tr>
			<td width="200">
				&nbsp;
			</td>
			<td colspan=2>
					<a id="button" data-icon="info" data-role="button" data-inline="true" data-mini="true" 
					href="<TMPL_VAR NAME=LOGDATEI>" 
					target="_blank"><TMPL_VAR BASIC.AWV-OT_LOG></a>
			</td>
		</tr>		
	</table>
</div>
